<h1>Hello {{{title}}}</h1>
<a href="/login">Scotts Tots Login here!</a>
{{!-- <body>
    <form action="/faq">
     <label for="fname">Is Scott Tall?:</label><br>
    <input type="text" id="fname" name="fname" value="Probably"><br>
    <label for="lname">How tall is he?:</label><br>
    <input type="text" id="lname" name="lname" value="NaN"><br><br>
     <input type="submit" value="Submit">
    </form>
</body> --}}