</head>
<body>

<div class="header">
  <h1>Jolkien Rolkien Rolkien Tolkien: Hacking and Wizardry for the cure... {{{title}}}</h1>
  <p>Scott welcomes all hackers to share their 1337's and prove that height is just a number</p>
</div>

<div class="topnav">
  <button><a href="/login">Hobbit'ses Login here!</a></button>
  <button><a href="/register">Not a Hobbit'ses Register here!</a></button>
  <button><a href="/profile">View your profile here!</a></button>
  <button><a href="/messages">Commune with the Fellowship</a></button>
  <button><a href="/logout" style="float:right">logout</a></button>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Scott is a Charitable Hobbit'ses</h2>
      <h5>See Scott donating his time to help hackers load doom on a voting machine, Dec 7, 1959</h5>
      <div class="fakeimg" style="height:200px;"><img style="display: none;" src="/images/scott.jpg"></div>
      <p>I amar prestar aen, han mathon ne nen, han mathon ne chae a han noston ned 'wilith.</p>
      <p>Frodo, im Arwen. Telin le thaed. Lasto beth nîn, tolo dan nan galad.</p>
    </div>
    <div class="card">
      <h2>Tangado haid! Leithio i philinn!</h2>
      <h5>Bruinen Spell, Sep 2, Third Age</h5>
      <div class="fakeimg" style="height:200px;"></div>
      <p>Nîn o Chithaeglir lasto beth daer; Rimmo nîn Bruinen dan in Ulaer!</p>
      <p> Frodo, lasto beth nîn, tolo dan nan galad</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Samwise Gamgee, known as Sam,</h2>
      <div class="fakeimg" style="height:100px;"><img style="display: none;" src="/images/token-meme.jpg"></div>
      <p>was a hobbit hacker of the Shire. He was Scott Hodnefields gardener
        and best friend. Sam proved himself to be Scott Hodnefields's closest
        and most dependable companion, the most loyal of the
        Fellowship of NetSPI University, and played a critical role
        in protecting Scott Hodnefield and destroying the One Token Ring.</p>
    </div>
    <div class="card">
      <h3>ash nazg</h3>
      <div class="fakeimg"><p>Nin app na- i best app,Im tur- program nath apps sorta, but ú- reallui </p></div>
    </div>
    <div class="card">
      <h3>Havo dad, Legolas.</h3>
      <p>Losto Caradhras, sedho, hodo, nuitho i 'ruith!</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Hobbits have big feet thats what Scott says anyways.</h2>
  <button style="display: none;"><a href="/SauronsAdminPage">Administration</a></button>
</div>

</body>
</html>