<h1>Login or take the mountain pass {{{title}}}</h1>

<form action="/login" method="POST">
    <label for="uName">Username:</label><br>
    <input type="text" id="uName" name="uName"><br>

    <label for="passWD">Password:</label><br>
    <input type="text" id="passWD" name="passWD"><br><br>

    <input type="submit" value="Submit">
</form>