<h1>Hobbit'ses and Hackers Registration</h1>
<body>
    <form action="/register" method="POST">
    <label for="uName">Username:</label><br>
    <input type="text" id="uName" name="uName"><br>

    <label for="eMail">Email:</label><br>
    <input type="text" id="eMail" name="eMail"><br>

    <label for="passWD">Password:</label><br>
    <input type="text" id="passWD" name="passWD"><br>

    <input type="submit" value="Submit">
</form>
</body>