<h1>Sauron is Admin</h1>
<body>
<h3>Delete user accounts</h3>
<form action="/SauronsAdminPage" method="POST">
    <label for="uName">Enter a Username to delete an account:</label><br>
    <input type="text" id="uName" name="uName"><br><br>

    <input type="submit" value="Submit">
</form>
{{!-- <h3>Delete message board</h3>
<form action="/SauronsAdminPage" method="POST">
    <label for="id">Enter a message id to remove the message from the board:</label><br>
    <input type="text" id="id" name="id"><br><br>

    <input type="submit" value="Submit">
</form> --}}
</body>